%table
  %tr
    %th.help
      .helph
        %h4 Urgent Help requests
    %th.news
      .newsh
        %h4 Latest News
    %th.work
      .workh
        %h4  Work orders status
  %tr
    %th.help
      - @help_requests.each do |help|
        .card
          .card-divider
            = help.title
          = help.message
          %br
          - if help.workorder_id == nil
            = link_to 'Create work order' , new_workorder_path(help.id), class: 'w_link'
    %th.news
      - @news.each do |news|
        .card
          .card-divider
            = news.title
          = news.description

    %th.work
      - @workorder.each do |work|
        .card
          .card-divider
            = work.title
          = work.message
          - if work.status == 'Done'
            .stat_green
              = work.status
          -elsif work.status == 'In progress'
            .stat_yellow
              = work.status
          -elsif work.status == 'Unable to complete'
            .stat_red
              = work.status
          -elsif work.status == 'Next week'
            .stat_blue
              = work.status
          -elsif work.status == 'Pending'
            .stat_grey
              = work.status
