%h1 New booking
%br
Availible times
= params[:date]
- @facility.timeslots.order(:created_at).each do |timeslot|
  - if @bookings.find_by(start_time: "#{@date} #{timeslot.start_time}") == nil
    %br
    = link_to "Time #{timeslot.start_time}-#{timeslot.end_time}", "/facilities/#{params[:facility_id]}/bookings?" + {date: "#{params[:date]} #{timeslot.start_time}"}.to_param, method: :post
    %br
  - else
    %br
    bookt
    = timeslot.start_time
    = timeslot.end_time
    %br
%br
= link_to 'Back', facility_bookings_path(@facility)
