%p#notice= notice

%p
  %b Name:
  = @booking.name
%p
  %b Start time:
  = @booking.start_time

= link_to 'Edit', edit_facility_booking_path(@facility, @booking)
\|
= link_to 'Back', facility_bookings_path(@facility)
