.base
  %h3 Work orders
  .row
    - @workorders.each do |work|
      .large-4.medium-4.columns
        .card
          .newh
            - if work.urgent == true
              .stat_urgent
            = work.title
        %h4 Message
        = work.message
        %br
        %h4 Location
        = work.location
        %br
        %br
        = form_tag workorder_path(work.id), {method: :patch} do
          = label_tag 'Set status'
          = select_tag :status, options_for_select(['In progress','Unable to complete','Done'], selected: work.status)
          = submit_tag "Update status", class: 'button inc'
