.base
  %h3 Send work order
  - if @help_request == nil
    = form_for(@workorder) do |f|
      .field
        = f.label :title
        %br/
        = f.text_field :title
      .field
        = f.label :message
        %br/
        = f.text_area :message
      .field
        = f.label :location
        %br/
        = f.text_field :location
      .field
        = f.label :urgent
        %br/
        = f.check_box(:urgent, {}, true, false)
      .actions
        = f.submit "Send", class: 'button inc'
  - else
    = form_for @workorder, url: workorders_path(help_request_id: @help_request.id),method: 'post' do |f|
      .field
        = f.label :title
        %br/
        = f.text_field :title, value: @help_request.title
      .field
        = f.label :message
        %br/
        = f.text_area :message, value: @help_request.message
      .field
        = f.label :location
        %br/
        = f.text_field :location
      .field
        = f.label :urgent
        %br/
        = f.check_box(:urgent, {checked: @help_request.urgent}, true, false)
      .actions
        = f.submit "Send", class: 'button inc'
