.base
  .row
    - @facilities.each do | facility |
      .large-3.medium-3.columns
        = link_to facility.name, facility_path(facility.id)
        %br
        = facility.description
        %br
        = link_to 'Mange bookings', facility_bookings_path(facility.id), class: 'button tiny success'
        = link_to "Delete", "/facilities/#{facility.id}", method: :delete, class: 'button tiny alert'
  %br
  = link_to 'New Facility', new_facility_path, class: 'button success'
