.base
  %h3 News
  .row
    - @news.each do |news|
      .large-4.medium-4.columns
        .card
          .newh
            = news.title
        %p
          = news.description
          %br
          %br
            = link_to "Update", "/news/#{news.id}/edit", method: :get, class: 'button tiny inc'
            = link_to "Delete", "/news/#{news.id})", method: :delete, class: 'button tiny alert'
.nisse
  = link_to "Create news", new_news_path(@news), class: 'button inc'
