.base
  %h3 Create a news message
  = form_for (@news) do |f|
    .field
      = f.label :title
      %br/
      = f.text_field :title
    .field
      = f.label :description
      %br/
      = f.text_area :description
    .actions
      = f.submit "Submit", class: 'button inc', class: 'button inc'

  - if flash[:notice]
    .notice= flash[:notice]
