.base
  %h3 Help request messages
  .row
    - @help_requests.each do |help|
      .large-4.medium-4.columns
        .card
          .newh
            - if help.urgent == true
              .stat_urgent
            = link_to help.title, new_workorder_path(help.id)
        = help.message
        %br
        %br
        = link_to "Create work order", new_workorder_path(help.id), class: 'button tiny inc'
        = link_to "Delete", "/help_requests/#{help.id})", method: :delete, class: 'button tiny alert'
