!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag

  %body
    .head
      = image_tag('logo4.png',  size: "650x100")
    %ul.menu.menu-desktop
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Sign up', new_user_registration_path
      %li
        = link_to 'Help requests', help_requests_path
      %li
        = link_to 'Facilities', new_facility_path
      %li
        = link_to 'New Work order', new_workorder_path
      %li
        = link_to 'Sign Out', destroy_user_session_path, {method: :delete}

    .body
      .alert= alert
      - if flash[:notice]
        .notice= flash[:notice]
    = yield
    .footer
      BuildingBlockz inc
