!!! 5
%html{ :lang => "en" }
  %head

    %link{:href => "https://fonts.googleapis.com/css?family=Julius+Sans+One", :rel => "stylesheet"}/

    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Build blockz"

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag

  %body
    .head
      = image_tag('logo4.png',  size: "650x100")
      - if current_user
        - if current_user.role == 'janitor'
          Janitor
        - else
          %ul.menu.menu-desktop
            %li
              = link_to 'Home', root_path
            %li
              = link_to 'Help requests', help_requests_path
            %li
              = link_to 'Facilities', facilities_path
            %li
              = link_to 'News', news_index_path
            %li
              = link_to 'New Work order', new_workorder_path
            %li
              = link_to 'Sign Out', destroy_user_session_path, {method: :delete}
            - if current_user == nil
              %li
                = link_to 'Sign up', new_user_registration_path
    .body
      .alert= alert
      - if flash[:notice]
        .notice= flash[:notice]
    = yield
    %br
    .footer
      BuildingBlockz inc
